#head{
    max-width: 100%;
    height:20vh ;
    background-color: rgb(208, 227, 113);
    justify-content: center;
    display: flex;
    align-items: center;
    
    
  }
  #head img{
    width: 60px;
  }
  #head h3{
    padding-right: 50px;
  }
  .navi{
    display: flex;
    gap: 15px;
  }